[submodule "core"]
	path = core
	url = git://github.com/WordPress/WordPress.git
[submodule "content/themes/inception"]
	path = content/themes/inception
	url = git@github.com:StourValleyDesigns/Inception_Theme.git
